.ipynb_checkpoints
submission
reference notebooks
*.zip
*.log
predict_importance_skl_tf.ipynb
predict_importance_sklearn.ipynb
predict_importance_tensorflow2.ipynb
dataset/submission_tf2.csv
dataset/submission_tf.csv
dataset/X.csv