.ipynb_checkpoints
citizens_grievances/submission
citizens_grievances/reference notebooks
*.zip
*.log
citizens_grievances/predict_importance_skl_tf.ipynb
citizens_grievances/predict_importance_sklearn.ipynb
citizens_grievances/predict_importance_tensorflow2.ipynb
citizens_grievances/dataset/submission_tf2.csv
citizens_grievances/dataset/submission_tf.csv
citizens_grievances/dataset/X.csv